
<% content_for :head do %>
  <title>A simple page</title>
<% end %>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>


<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>


<h2>Comments</h2>
<%= render 'comments/comments' %>



<h2>Add a comment:</h2>
<%= render 'comments/from' %>


<%#= render partial: 'article', layout: 'box', locals: { article: @article } %>
<!--The box layout simply wraps the _article partial in a div:-->
<!--articles/_box.html.erb-->
<!--<div class='box'>-->
  <%#= yield %>
<!--</div>-->